body {
	font-family: "Open Sans"
}

.grupo {	
	width: 100%;
	margin-bottom:-50px;
}

.boton {
	display: inline-block;
	font-size: 15px;
	color: black;
	font-family: Arial;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #E2913C;
	position: relative;
	top:-750px;
	left: 130px;
}

li  {
	font-size: 15px;
	font-family: Arial;
	display: inline-block;
	float: left;
	margin: 10px;
	position: relative;
	top: -750px;
}

li a {
	text-decoration: none;
	color: black;
}

.logo {
	width: 500px;
	height: 80px;
	position: relative;
	top:-720px;
	left: -80px;
}

.fotitos {
	width: 300px;
	display: inline-block;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}

.imagen {
 	margin-top: 10px;
 	margin-left: 150px;
 	margin-right: 30px;
 }

footer {
 	background-color: gray;
 	padding: 20px;
 	margin-top: 10px;
 }

p {
  	font-weight: 600;
 	color:white;
}
 
